# Functions

In [17]:
def greet(name):
    name = name.upper()
    print(f"Hello {name}")

In [3]:
greet("Harish")

Hello Harish

In [8]:
def greet2(name, message="Hi"):
    print(f"{message} {name}")

In [9]:
greet2("Harish")

Hi Harish

In [12]:
def sum(a,b):
    return a + b
result = sum(5,6)

In [13]:
result

11

In [11]:
sum(2,3)

5

In [18]:
employee = "Ravi"

greet(employee)

Hello RAVI

In [20]:
def calculate_area(width,height):
    area = width * height
    return area

In [21]:
calculate_area(10,25)

250

In [22]:
def introduce(name, age = 25):
    print(f"My name is {name} and i am {age}")

In [23]:
introduce("Ravi")

My name is Ravi and i am 25

In [27]:
def first_last(mylist):
    print(f"first element is {mylist[0]} and last element is {mylist[-1]}")

In [25]:
mylist = [25,36,"Banana"]

In [28]:
first_last(mylist)

first element is 25 and last element is Banana