In [1]:
import numpy as np

In [11]:
np.arange(start = 100, stop = 200, step = 25)

array([100, 125, 150, 175])

In [13]:
import math

In [14]:
math.sqrt(25)

5.0

In [15]:
import datetime

In [16]:
datetime.datetime.now()

datetime.datetime(2026, 2, 18, 9, 52, 3, 836832)

In [29]:
time = datetime.datetime.now()

In [30]:
time

datetime.datetime(2026, 2, 18, 9, 59, 45, 623059)

In [31]:
time.strftime("%d/%m/%Y %H:%M")

'18/02/2026 09:59'

In [32]:
import random

In [39]:
random.randint(1,100)

50

In [6]:
import os

In [8]:
os.getcwd()

'/Users/harishbhavandla/dsp/day2'

In [14]:
import requests
import pandas as pd
from io import StringIO

URL = "https://en.wikipedia.org/wiki/2026_Winter_Olympics_medal_table"

headers = {"User-Agent": "Mozilla/5.0"}

# 1) Fetch HTML
resp = requests.get(URL, headers=headers, timeout=30)
resp.raise_for_status()

# 2) IMPORTANT: wrap HTML with StringIO so read_html won't treat it like a file path
tables = pd.read_html(StringIO(resp.text))

# 3) Pick the medal table (the one that has Gold/Silver/Bronze/Total)
def is_medal_table(df):
    cols = [str(c).strip().lower() for c in df.columns]
    return all(x in cols for x in ["gold", "silver", "bronze", "total"])

medal_df = next(df for df in tables if is_medal_table(df))

medal_df

                   Rank                  NOC  Gold  Silver  Bronze  Total
0                     1               Norway    14       8       9     31
1                     2               Italy*     9       4      11     24
2                     3        United States     6      10       5     21
3                     4          Netherlands     6       6       1     13
4                     5              Germany     5       8       7     20
5                     6              Austria     5       8       4     17
6                     7               France     5       7       4     16
7                     8               Sweden     5       5       2     12
8                     9          Switzerland     5       2       3     10
9                    10                Japan     4       5      10     19
10                   11               Canada     3       4       5     12
11                   12            Australia     3       1       1      5
12                   13        Great Britain     3       0       0      3
13                   14       Czech Republic     2       2       0      4
14                   15             Slovenia     2       1       1      4
15                   16          South Korea     1       2       3      6
16                   17               Brazil     1       0       0      1
17                   17           Kazakhstan     1       0       0      1
18                   19                China     0       3       3      6
19                   20               Poland     0       3       1      4
20                   21               Latvia     0       1       1      2
21                   21          New Zealand     0       1       1      2
22                   23              Georgia     0       1       0      1
23                   24              Finland     0       0       4      4
24                   25             Bulgaria     0       0       2      2
25                   26              Belgium     0       0       1      1
26  Totals (26 entries)  Totals (26 entries)    80      82      79    241

In [26]:
import csv
file_path = 'table.csv'

with open(file_path) as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['id', 'name', 'age', 'city']
['1', 'harish', '30', 'milan']
['2', 'harsha', '25', 'hyd']
['3', 'Cristiano', '40', 'Saudi']

In [29]:
import pandas as pd

file_path = 'table.csv'

df = pd.read_csv(file_path)

df

   id       name  age   city
0   1     harish   30  milan
1   2     harsha   25    hyd
2   3  Cristiano   40  Saudi